*{
  box-sizing: border-box;
}
/*for checking purpose
*{
  outline: 1px solid black !important
}
*/
.headline{
  background-color: pink;
  border: 5px solid lightgrey;
  padding-left: 20px;
  padding-right: 20px;
  height: 100px;
  max-width: 1500px;
  min-width: 1200px;
  margin: 20px;
  position: relative;
}
.title{
  font-size: 50px;
  font-family: "Verdana";
  color: slategrey;
  position: relative;
  top:-15px;
}
.contents{
  display: flex;
  max-width: 1500px;
  min-width: 1200px;
  margin: 20px;
}
.tvbox{
  height: 50px;
  width: 500px;
  background-color: slategrey;
  opacity: 0.8;
  line-height: 50px;
  text-align: center;
}
a:link{
  font-family: "Comic Sans MS";
  font-size: 20px;
  color: pink;
}
.section{
  margin: 20px;
  max-width: 1500px;
  display: flex;
  border: 5px solid lightgrey;
}
.photo{
  width: 500px;
  max-height: 500px;
}
.align{
  display: inline-block;
  vertical-align: middle;
  height:100%;
}
.image{
  width: 500px;
  vertical-align: middle;
}
.description{
  padding:20px;
  max-width: 980px;
  min-width: 680px;
  margin-left: 20px;
  background-color: pink;
  color: slategrey;
  font-family: "Calibri";
  font-size: 20px;
  text-align: justify;
}
.casting{
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}
.actors{
  text-align: right;
  padding-right: 50px;
}
.characters{
  text-align: left;
  padding-left: 50px;
}
